{# templates/partials/menu.html.twig #}

<div class="d-flex justify-content-center gap-2 my-3">
    <a href="{{ path('app_todo_index') }}">
        <button class="btn btn-success" style="background: #2c3e50; color: white;">
            voir les taches
        </button>
    </a>

    <a href="{{ path('app_user_index') }}">
        <button class="btn btn-success" style="background: #2c3e50; color: white;">
            Voir les utilisateurs
        </button>
    </a>

    <a href="{{ path('app_categorie_index') }}">
        <button class="btn btn-success" style="background: #2c3e50; color: white;">
            Voir les catégories
        </button>
    </a>
</div>
